body{
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    color:#6c7279;
    -webkit-font-smoothing: antialiased;
    background-color:#fff;
    
}

*,
*:before,
*:after{

    box-sizing:border-box;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
}


p{
    margin:0 0 10px 0;
}

/* Container====================*/

.container{
    width:100%;
    max-width:1170px;
    margin:0 auto;
    
}

/* Header====================*/

.header{
    height:100px;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
 
}

.header__inner{
    display:flex;
    justify-content: space-between;
    border-bottom:2px solid #51536a;
    padding:35px 0;
    
    align-items: center;
}


/* Nav===============================================*/

.nav{
    display: flex;
    font-size:13px;
    font-weight: 700;

}

.nav__link{
    
    color:#fff;
    text-decoration:none;
    margin-left:50px;
    text-transform: uppercase;
    opacity: 0.75;
    transition: 0.2s linear;
}

.nav__link:hover{
    /* text-decoration: underline; */
    opacity:1;
}

.nav__link:first-child{
    margin-left:0;
}


/* Intro===============================================*/

.intro{
display:flex;
flex-direction: column;
justify-content: center;
padding-top:100px;
height:750px;
background: #2e314b url("../intro.jpg"); 
background-position: center;
background-repeat: no-repeat;
background-size:cover;

}


.intro__inner{
    max-width: 970px;
    width:100%;
    margin:0 auto;
    text-align:center;
}


.intro__title{
    margin:0 0 30px;
    font-size:65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color:#fff;
    text-transform: uppercase;
    line-height:1.1;
    
}

.intro__subtitle{
    font-size:22px;
    font-weight:400;
    color:#fff;
    line-height: 1.5;
    margin-bottom:60px;
}

/* Button===============================================*/

.btn{
    display:inline-block;
    vertical-align: top;
    padding:14px 40px;
    border-radius: 2px;
    border:0;
    cursor:pointer;
    font-family: 'Raleway', sans-serif; 
    font-size:13px;
    font-weight:600;
    color:#fff;
    text-transform: uppercase;
    text-decoration:none;
    transition: background 0.1s linear;

}

.btn--red{
    background-color:#e84545;
}
.btn--red:hover{
    background-color:#db2424;
    
}




/* Features===============================================*/
.features{
    display:flex;
    margin:100px 0;
    flex-wrap:wrap;
    

}

.features__item{
    width:33.33333%;
    text-align:center;
    padding:0 40px;
    margin:25px 0;
}

.features__icon{
    margin-bottom:25px;
}

.features__title{
    font-size: 14px;
    color:#2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom:20px;
}

.features__text{
    font-size:14px;
    color:#6c7279;
    line-height: 1.5;
}


/* ------------------------Mine  code 2 page*/
/* Section 2 page===============================================*/
.text{
    font-size:60px;
}
.advantages{
    padding-top:120px;
    padding-bottom:120px;
}

.advantage__inner{
    width:100%;
    max-width:1090px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}


.advantage__item{
    
    text-align: center;
    cursor:pointer;
    width:100%;
    max-width:320px;
    margin-bottom:60px;
   
}


.adv__title{
    font-family: 'Raleway', sans-serif;
    font-size:14px;
    font-weight:700;
    margin-top:20px;
    margin-bottom:20px;
    text-transform: uppercase;
}

.adv__text{
    
    margin:0 auto;
    line-height: 1.4;

}

/*Works ===============================================*/
.works{
    display:flex;
    flex-wrap: wrap;
}

.works__item{
    width:25%;
    position: relative;
    overflow: hidden;
    height: 350px;
}

.works__photo{
position: absolute;
top:50%;
left:50%;
z-index:1;
transform:translate3d(-50%, -50%,0);
}

.works__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    background-color:rgba(232,69,69,0.9);
    opacity:0;
    transition: opacity 0.9s linear;
}

.works__item:hover .works__content{
    opacity: 0.9;
}

.works__title{
    font-size:14px;
    font-weight: 700;
    color:#fff;
    text-transform:uppercase;
    margin-bottom:5px;
}

.works__text{
    font-size:14px;
    color:#fff;
}



/* Mine code Section 3 page===============================================*/

.wall__inner{
   width: 100%;
   max-width: 1900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap:1px;
    grid-column-gap:1px;
    
}




.wall__img{
    width: 467px; 
    height: 350px;
    width:100%;
    height: 100%;
    margin-bottom:-3px;
}



@media(max-width:1440px){
    .wall__img{
        height: 250px; 
    }
}


.img__card{
    background-color: #e85351;
    position: relative;
    
    
}

.img__wrapper:hover .wall__img{
 opacity: 0.1;
 transition: opacity .8s linear;
}

.img__wrapper:hover .img__card,
.img__wrapper:hover .wall__text{
    opacity:1;
  
}


.wall__text{
    color:#fff;
    text-align: center;
    position: absolute;
    width:100%;
    top:45%;
    left:0;
    z-index: 2;
    transition: opacity .7s linear;
    opacity:0;
}
.pro__manag{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom:10px;
}

.wall__description{
    font-size: 14px;
    font-weight: 400;

}


/* Section 4 page===============================================*/

.team{
    padding-top:90px;
    padding-bottom:90px;
}

.cars__team{
    display:flex;
    justify-content: space-around;
}


.card__employ{
    width:100%;
    max-width: 270px;
}


.card__text{
    padding-top:20px;
    padding-bottom:20px;
}


.card__title{
    font-size:22px;
    font-weight: 400;
    color:#2d3033;
}


.card__subtitle{
    margin-top:8px;
    font-size:13px;
    font-weight: 400;
    color:#e85351;
    text-transform: uppercase;
}


.card__description{
    margin-top:20px;
    font-size:14px;
    font-weight: 400;
    color:#6c7279;
    line-height: 1.5;
}

.icons{
    margin-top:20px;
}


.icon-border{
    display: inline-block;
    border:1px solid #e8ecee;
    padding:10px;
    color:#c6cacc;
    margin-right:3px;
}





.go__network .fab{
    color: #c6cacc;
    padding:3px;
    font-size:16px; 
}

.linkedin .fab{
    color: #fff;
}

.icon-border:hover .fab{
    color:#fff;
}

.icon-border:hover .fa-linkedin-in{
    background-color:#fff;
    color:#c6cacc;
    
}

.icon-border:hover{
    background-color: #c6cacc; 
}

.fa-linkedin-in{
    background-color: #c6cacc;
    color:#fff;
    padding-left:6px;
    
    
}

.fa-facebook-f{
    padding-left:6px;
    padding-right:6px;
}



/* Section 5 page===============================================*/

.sidebar__review{
    position: relative; 
}

.review__inner{
    position: relative;
    
}
.review__img{
   position: relative;
   background: url("../images/sidebar/review-picture.jpg"); 
   background-repeat:no-repeat;
   background-position:top;
   background-size:100% ;
    width:50%;
    height: 500px;
    color:transparent;
    font-size:0;
}




.review__text{
    width:50%;
    color:#fff;
    background-color: #53354a;
    padding-left:80px;
    padding-top:120px;
    
    position: absolute;
    left:50%;
    top:0;
    height: 355px;


}





.review__quote{
font-style:italic;
font-size:36px;

font-family: 'Cardo', serif;
}




.review__author{
    font-weight: bold;
    font-size:13px;
    text-transform: uppercase;
    margin-top:35px;
}



@media(max-width:1500px){
    .review__quote{
        font-size:25px;
    }  
    .review__author{
        font-size:10px;
    }

    .review__descript{
        max-width: 300px;

    }
    .review__text{
    
        
       
       
    
    
    }
}
.review__btns{
    display:flex;
    margin-left:190px;
    margin-top:60px;
}
.rev__btn:after{
    content:"";
    background-color:#755d6e;
    border-radius:50%;
    cursor: pointer;
    display:block;
    width:13px;
    height: 13px;
    margin-left:7px;

}


.rev__btn.active .rev__btn:after{
   
    background-color:#fff;
    
}





/* Section 6 page===============================================*/
.download{
    padding-top:100px;
    padding-bottom:100px;
}

.download__inner{
    max-width:630px;
    width:100%;
    margin:0 auto;
    text-align: center;
}

.download__text{
    margin-bottom:40px;
}


.download__ask{
    color:#3b3e41;
    font-size:28px;
    font-weight: lighter;
}


.download__quote{
    font-weight: bold;
    font-size:13px;
    text-transform: uppercase;
    color:#2d3033;
}


/* Section 7 page===============================================*/


/* Section 7 page===============================================*/


.--part1{
    background-color:#3a3e64;
    padding-top:70px;
    padding-bottom:70px;
}

.--part2{
    background-color:#313454;
    
}
.footer__inner{
    display:flex;
    justify-content: space-between;
    
}

.footer__item{
    max-width: 340px;
    width:100%;
    text-align: center;

}

.footer__title{
    font-weight: 700;
    font-size:14px;
    color:#fff;
    text-transform:uppercase;
    margin-bottom:15px;
    
}

.footer__text, .foot__place, .foot__index {
    font-size:14px;
    font-weight: 400;
    color:#9d9fb2;
    line-height: 1.7;
}

.footer__link{
    display:inline-block;
    border:1px solid #fff;
    padding:7px;
    margin-right:5px;
   
}
.go__active-box {
    text-decoration: none;
    
}
.go__active-box .fab{
    color:#fff;
    font-size:16px; 
    
   
    
}

.go__active-box:hover .fab{
    color:grey;
    
}

.go__active-box:hover .footer__link{
    border:1px solid grey;
}

.go__active-box .fa-linkedin-in{
    background-color: #fff;
    color:#3a3e64;
    padding:0px;
    padding-left:2px;
    padding-right: 2px;
    
}


.footer.--part2{
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}




.footer__sign{
    color:#fff;
}

.fa-heart{
    color:red;
}

.sign__web{
    text-decoration: none;
    color:#fff;
}


















/* font-family: 'Cardo', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */

/* Chapter===============================================*/